/* 
Don't want to use sass and simply modify the stylesheet in the old css fashion? 
Just customize your theme here.
================================================== */
.typed-out{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: 
      typing 1s forwards;
    font-size: 1.6rem;
    width: 0;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  
body {}