/* 
Don't want to use sass and simply modify the stylesheet in the old css fashion? 
Just customize your theme here.
================================================== */
.grey-clr {color: gray}
.red-clr {color: rgb(52, 152, 139)}
.padd-right {padding-right: 5px; padding-left: 5px;}

.hero {background: #96dcff}

.animate-charcter
{
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}





body {}